<!DOCTYPE html>
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://api-maps.yandex.ru/2.1.47/?lang=ru_RU&amp;apikey=fe7387f0-4485-4341-91bd-7b6427f658d7"
    type="text/javascript"></script>
  <script src="https://unpkg.com/imask"></script>
  <title>ЕСП</title>
  <link rel="icon" type="image/x-icon" href="{% static 'fav.ico' %}">
</head>

<body class="bg-body-tertiary">
  <div class="container">
    <nav class="navbar navbar-light navbar-expand-md d-sticky py-3 border-bottom" style="background: inherit;">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'parkingapp:info' %}">
          <img src="{% static 'fav.ico' %}" height="32" width="32"><span class="ms-2 fw-semibold">ЕСП</span></a>
        <button class="navbar-toggler border-0" data-bs-toggle="collapse" onclick="pos()"
          data-bs-target="#navcol-3"><span class="visually-hidden">Toggle
            navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-3" class="collapse navbar-collapse">
          <form method="post" action="enter">
            {% csrf_token %}
            <ul class="navbar-nav mx-auto">
              <li class="nav-item mx-1"><a class="nav-link {% block active_profile %}{% endblock %}"
                  href="{% url 'parkingapp:profile' %}">Профиль</a></li>
              <li class="nav-item mx-1"><a href="{% url 'parkingapp:index' %}"
                  class="nav-link {% block active_parking %}{% endblock %}" aria-current="page">Парковка</a></li>
              {% if not user.is_authenticated %}
              <li class="nav-link text-primary mx-1"><a class="text-decoration-none"
                  href="{% url 'parkingapp:enter' %}">Вход</a></li>
              <li class="nav-link text-primary mx-1"><a href="{% url 'parkingapp:sign' %}"
                  class="text-decoration-none 2">Регистрация</a></li>
              {% else %}
              <li class="nav-item mx-1"><a href="{% url 'parkingapp:logout' %}" class="nav-link rounded-4">Выход</a>
              </li>
              {% endif %}
            </ul>
          </form>
        </div>
      </div>
    </nav>
  </div>
  {% block content %}{% endblock %}
</body>

</html>