<div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
    let r = "{{reciepts}}".replace(/&quot;/g, "").replace(/&#x27;/g, "\"");
    console.log(r);
    let reciepts = JSON.parse(r);
    let labels = [];
    let name = reciepts["name"];
    let keys = Object.keys(reciepts["period"]);
    for(let i=0; i<keys.length; i++){
        labels.push(keys[i]);
    }
    let rec=[];
    for(let i=0; i<keys.length; i++){
        rec.push(reciepts["period"][keys[i]]);
    }
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          label: 'Количество чеков по '+name,
          data: rec,
          borderWidth: 0.5
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>