{% extends 'dash_base.html' %}
{% block couponact %}active{% endblock %}
{% block content %}
<style>
  #uppercar::placeholder {
    text-transform: none;
  }
</style>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <form method="post">
    {% csrf_token %}
    <div class="col-md-7 col-lg-8 mt-3">
      <div class="row">
        <h4 class="mb-3 col-6">Выдача льготы</h4>
        <small class="text-end text-danger col-6">{{ error }}</small>
      </div>
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">По номеру телефона</label>
          {{ form.phone }}
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">По автомобильному номеру</label>
          {{ form.car }}
        </div>
      </div>

      <button class="w-100 mt-4 btn btn-lg rounded-4 btn-primary" type="submit">Выдать льготу</button>
    </div>
  </form>
</main>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const inputElement = document.getElementById('tel') // ищем наш единственный input
    const maskOptions = { // создаем объект параметров
      mask: '+{7}(000)000-00-00' // задаем единственный параметр mask
    }
    IMask(inputElement, maskOptions) // запускаем плагин с переданными параметрами

  })
</script>
{% endblock %}