<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'parkingapp:create_parking' %}" method='post'>
        {% csrf_token %}
        <input type="text" name="latitude">Широта
        <input type="text" name="longitude">Долгота
        <input type="text" name="address">Адрес
        <input type="text" name="max_parking_spaces">Количество мест
        <button type="submit">
    </form>
</body>
</html>