{% extends 'dash_base.html' %}
{% block actusers %}active{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Парковки</h1>
  </div>

  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Улица</th>
          <th scope="col">Кол-во мест</th>
          <th scope="col">Цена за час</th>
          <th scope="col">Действие</th>
          <th scope="col">Сменить цену</th>
        </tr>
      </thead>
      <tbody class="align-middle">
        {% for el in parkings %}
        <tr>
          <td>{{el.pk}}</td>
          <td>{{el.address}}</td>
          <td>{{el.max_parking_lots}}</td>
          <td>{{el.price_per_hour}} ₽</td>
          <form method="post">
            {%csrf_token%}
            <td><button class="text-danger" value="{{el.pk}}" style="background: none; border: none;" type="button"
                name="delete" data-bs-toggle="modal" data-bs-target="#exampleModalD">Удалить</button></td>
            <div class="modal fade" id="exampleModalD" tabindex="-1" aria-labelledby="exampleModalLabelD"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabelD">Подтвердите удаление</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button class="btn btn-primary" value="{{el.pk}}" name="delete" type="submit">Удалить</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form method="post">
            {%csrf_token%}
            <td>
              <div class="input-group">
                {{form.newprice}}
                <button type="button" name="change_price" value="{{el.pk}}" class="btn btn-sm btn-outline-primary radr"
                  data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="show()"><i
                    class="bi bi-arrow-return-left"></i></button>
              </div>
            </td>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Подтвердите изменение цены (<span
                        id="sex"></span> ₽)</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Изменение цены доступно один раз в три месяца
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button class="btn btn-primary" type="submit">Изменить цену</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    function show() {
      document.getElementById('sex').innerHTML = document.getElementById('fucksubmit').value
    }
    $(document).ready(function () {
      $("input[id=fucksubmit]").keydown(function (event) {
        if (event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });
  </script>
</main>
{% endblock %}