{% extends 'dash_base.html' %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Пользователи с подозрительной активностью</h1>
  </div>

  <dl class="row g-3 p-2 text-start row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6">
    {% for user in corr_users %}
    <div class="rounded-2 border p-3 col">   
      <dt class="m-0">{{ user.username }}</dt>
    </div>
    {% endfor %}
  </dl>

{% for user in corr_users %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ user.username }}</h1>
  </div>

  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Парковка</th>
          <th scope="col">Начало</th>
          <th scope="col">Конец</th>
          <th scope="col">Льгота</th>
          <th scope="col">Сумма</th>
        </tr>
      </thead>
      <tbody class="align-middle">
        {% for rec in corr_reciepts %}
        <tr>
          <td>{{ rec.pk }}</td>
          <td>{{ rec.parking_id }}</td>
          <td>{{ rec.start_time }}</td>
          <td>{{ rec.finish_time }}</td>
          <td>{{ rec.benefit }}</td>
          <td>{{ rec.final_price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}

</main>
{% endblock %}