{% extends 'dash_base.html' %}
{% block mainact %}active{% endblock %}
{% block content %}
<div class="modal fade" id="exampleModalD" tabindex="-1" aria-labelledby="exampleModalLabelD" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabelD">Подтвердите удаление</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {%csrf_token%}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button class="btn btn-primary" type="submit" id="submitD" name="delete">Удалить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal{{el.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Подтвердите изменение цены </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Изменение цены доступно один раз в три месяца!
      </div>
      <form method="post">
        {%csrf_token%}
        <div class="modal-footer">
          {{form.newprice}}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button class="btn btn-primary" type="submit" name="change_price" id="submit">Изменить
            цену</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalrec" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modelrecLabel">{{ user.username }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive small">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Парковка</th>
                <th scope="col">Начало</th>
                <th scope="col">Конец</th>
                <th scope="col">Льгота</th>
                <th scope="col">Сумма</th>
              </tr>
            </thead>
            <tbody class="align-middle">
              {% for rec in corr_reciepts %}
              <tr>
                <td>{{ rec.pk }}</td>
                <td>{{ rec.parking_id }}</td>
                <td>{{ rec.start_time }}</td>
                <td>{{ rec.finish_time }}</td>
                <td>{{ rec.benefit }}</td>
                <td>{{ rec.final_price }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <style>
    #id_reg_num {
      border: none;
      font-size: calc(1.325rem + .9vw);
      font-weight: 500;
      line-height: 1.2;
    }
  </style>

  <form method="post">
    {% csrf_token %}
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ form.reg_num }}</h1>
      <small class="text-danger text">{{ error }}</small>
      <div class="mb-2 mb-md-0">
        <div class="input-group me-2">
          {{form.date1}}
          {{form.date2}}
          <button type="submit" class="btn btm-sm btn-primary radr"><i class="bi bi-arrow-return-left"></i></button>
        </div>
      </div>
      <button class="btn btn-danger" hidden data-bs-toggle="modal" data-bs-target="#exampleModalD">Удалить (Убрать
        вниз)</button>

    </div>
  </form>

  <div class="row g-3">
    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-header">Реестровый номер</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{ parking.reg_num }}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-header">Количество мест</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{ parking.max_parking_lots }}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-header">Секрет</div>
        <div class="card-body">
          <a href="/parking_lot?secret={{parking.secret}}" class="h5 text-primary card-title fw-bolder">{{ parking.secret }}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-header">Цена за час</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{ parking.price_per_hour }} ₽</h5>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="{{ el.pk }}">Новая цена</button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Управление шлагбаумом</h1>
  </div>

  <div class="row g-3">
    <div class="col-sm-6">
      <div class="card border-primary">
        <div class="card-header">На въезд</div>
        <div class="card-body">
          <h5 class="card-title text-primary fw-bolder" onclick="out(this)">Закрыт</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-primary">
        <div class="card-header">На выезд</div>
        <div class="card-body">
          <h5 class="card-title text-primary fw-bolder" onclick="out(this)">Закрыт</h5>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Финансовый отчет</h1>
  </div>

  <div class="row g-3">
    <div class="col-sm-6 col-xxl-3">
      <div class="card">
        <div class="card-header">Транзакций на сумму</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{Fin.total_price}} ₽</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
      <div class="card">
        <div class="card-header">Количество транзакций</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{Fin.how_much_people_used}}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
      <div class="card">
        <div class="card-header">Льготных транзакций на сумму</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{Fin.benefits_price}} ₽</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
      <div class="card">
        <div class="card-header">Количество льготных транзакций</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{Fin.with_benefits}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Наполняемость</h1>
    <small class="text-danger text">{{ error }}</small>
  </div>

  <div class="row g-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Суммарный период пребывания</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{total_benefit_time}} минут</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Средний период пребывания</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{average_benefits}} минут</h5>
        </div>
      </div>
    </div>
  </div>
  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

  <script>
    const ctx = document.getElementById('myChart');
    let r = "{{reciepts}}".replace(/&quot;/g, "").replace(/&#x27;/g, "\"");
    console.log(r);
    let reciepts = JSON.parse(r);
    let labels = [], rec = [];
    let name = reciepts["name"];
    let keys = Object.keys(reciepts["period"]);
    for (let i = 0; i < keys.length; i++) {
      labels.push(keys[i]);
      rec.push(reciepts["period"][keys[i]]);
    }

    // eslint-disable-next-line no-unused-vars
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          data: rec,
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            boxPadding: 3
          }
        }
      }
    })
  </script>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Льготные места</h1>
  </div>

  <div class="row g-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Суммарный период пребывания</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{total_benefit_time}} минут</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Средний период пребывания</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{average_benefits}} минут</h5>
        </div>
      </div>
    </div>
  </div>

  <canvas class="my-4 w-100" id="myChartC" width="900" height="380"></canvas>
  <script>
    const ctxC = document.getElementById('myChartC');
    let rC = "{{reciepts_benefit}}".replace(/&quot;/g, "").replace(/&#x27;/g, "\"");
    console.log(r);
    let recieptsC = JSON.parse(rC);
    let labelsC = [], recC = [];
    let nameC = recieptsC["name"];
    let keysC = Object.keys(recieptsC["period"]);
    for (let i = 0; i < keys.length; i++) {
      labelsC.push(keys[i]);
      recC.push(recieptsC["period"][keys[i]]);
    }

    // eslint-disable-next-line no-unused-vars
    const myChartC = new Chart(ctxC, {
      type: 'line',
      data: {
        labels: labelsC,
        datasets: [{
          data: recC,
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#dc3545',
          borderWidth: 4,
          pointBackgroundColor: '#dc3545'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            boxPadding: 3
          }
        }
      }
    })
  </script>


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Пользователи с подозрительной активностью</h1>
  </div>

  <dl class="row g-3 p-0 text-start row-cols-md-2 row-cols-xl-3 row-cols-xxl-4">
    {% for user in corr_users %}
    <div class="col">
      <div class="card">
        <div class="card-header">{{ user.phone_number }}</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{ user.username }}</h5>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalrec" data-bs-whatever="{{ user.username }}">Показать чеки</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </dl>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Пользователи</h1>
    <a href="{% url 'parkingapp:signadmin' %}" class="text-decoration-none mb-2"><i class="bi bi-plus-circle"></i></a>
  </div>

  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Имя пользователя</th>
          <th scope="col">Управление пользователями</th>
          <th scope="col">Управление парковками</th>
          <th scope="col">Управление шлагбаумами</th>
          <th scope="col">Обнуление чеков</th>
          <th scope="col">Просмотр панели администратора</th>
          <th scope="col">Прикреплен к парковке</th>
          <th scope="col">Является парковкой</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Подтвердите удаление</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
              {%csrf_token%}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button class="btn btn-primary" id="submit" name="delete" type="submit">Удалить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <tbody class="align-middle">
        {% for el in coupon_users %}
        <tr>
          <td>{{ el.pk }}</td>
          <td>{{ el.username }}</td>
          <td class="{% if el.user_control %} bg-success-subtle {% else %} bg-danger-subtle {% endif %}">
            {{ el.user_control }}</td>
          <td class="{% if el.parking_control %} bg-success-subtle {% else %} bg-danger-subtle {% endif %}">
            {{ el.parking_control }}</td>
          <td class="{% if el.barrier_control %} bg-success-subtle {% else %} bg-danger-subtle {% endif %}">
            {{ el.barrier_control }}</td>
          <td class="{% if el.coupon_control %} bg-success-subtle {% else %} bg-danger-subtle {% endif %}">
            {{ el.coupon_control }}</td>
          <td class="{% if el.admin_view %} bg-success-subtle {% else %} bg-danger-subtle {% endif %}">
            {{ el.admin_view }}</td>
          <td>{{ el.park_id }}</td>
          <td class="{% if el.parking_lot_view %} bg-success-subtle {% else %} bg-danger-subtle {% endif %}">
            {{ el.parking_lot_view }}</td>
          <td><button class="text-danger" type="button" data-bs-whatever="{{el.pk}}" data-bs-toggle="modal"
              data-bs-target="#exampleModal" style="border: none; background: none;">Удалить</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Чеки</h1>
  </div>
  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ID пользователя</th>
          <th scope="col">ID парковки</th>
          <th scope="col">Начало</th>
          <th scope="col">Конец</th>
          <th scope="col">Льгота</th>
          <th scope="col">Сумма</th>
        </tr>
      </thead>
      <tbody class="align-middle">
        {% for el in recs %}
        <tr>
          <td>{{el.pk}}</td>
          <td>{{el.user_id}}</td>
          <td>{{el.parking_id}}</td>
          <td>{{el.start_time}}</td>
          <td>{{el.finish_time}}</td>
          <td class="{% if el.benefit %} bg-success-subtle {% else %} bg-danger-subtle {% endif %}">{{el.benefit}}</td>
          <td>{{el.final_price}} ₽</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</main>
<script>
  var outclosed = true
  function out(el) {
    if (outclosed) {
      el.setAttribute('class', 'card-title text-danger fw-bolder')
      el.parentNode.parentNode.setAttribute('class', 'card border-danger')
      el.innerHTML = 'Отркыто'
      outclosed = false
    } else {
      el.setAttribute('class', 'card-title text-primary fw-bolder')
      el.parentNode.parentNode.setAttribute('class', 'card border-primary')
      el.innerHTML = 'Закрыто'
      outclosed = true
    }
  }

  const exampleModalD = document.getElementById('modalrec')
    if (exampleModalD) {
      exampleModalD.addEventListener('show.bs.modal', event => {
        const buttonD = event.relatedTarget
        const recipientD = buttonD.getAttribute('data-bs-whatever')
        const modalTitleD = exampleModalD.querySelector('#modelrecLabel')
        document.getElementById('submitD').setAttribute('value', recipientD)

        modalTitleD.textContent = `${recipientD}`
      })
    }
</script>
{% endblock %}