{% extends 'dash_base.html' %}
{% block actcoupon %}active{% endblock %}
{% block content %}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid mt-3">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h3 class="text-dark mb-0">Льготные места</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group" style="max-width: 500px;">
                        <input type="number" class="form-control radl border-secondary" style="background: none;" placeholder="id парковки" name="id">
                        <input type="date" class="form-control  border-secondary" style="background: none;" value="2023-12-09" name="period_start">
                        <input type="date" class="form-control  border-secondary" style="background: none;" value="2023-12-10" name="period_end">
                        <button type="submit" class="btn btn-sm btn-outline-secondary radr">Получить данные</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-auto col-md-6 col-xl-4 mb-4">
                    <div class="card shadow border-start-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>сумм. период пребывания на льготных местах</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{total_time}}</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-md-6 col-xl-4 mb-4">
                    <div class="card shadow border-start-success py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Средний период пребывания на льготных местах</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{average_time}}</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-md-6 col-xl-4 mb-4">
                    <div class="card shadow border-start-info py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>наполненость льготных мест</span></div>
                                    <div class="row g-0 align-items-center">
                                        <div class="col-auto">
                                            <div class="text-dark fw-bold h5 mb-0 me-3"><span>50%</span></div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="visually-hidden">50%</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-7 col-xl-8">
                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h6 class="text-primary fw-bold m-0 py-3">Кол-во пользователей льготных мест</h6>
                            <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                    <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <canvas id="myChart"></canvas>
                            </div>
                            
                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                            <script>
                                const ctx = document.getElementById('myChart');
                                let r = "{{reciepts}}".replace(/&quot;/g, "").replace(/&#x27;/g, "\"");
                                console.log(r);
                                let reciepts = JSON.parse(r);
                                let labels = [], rec=[];
                                let name = reciepts["name"];
                                let keys = Object.keys(reciepts["period"]);
                                for(let i=0; i<keys.length; i++){
                                    labels.push(keys[i]);
                                    rec.push(reciepts["period"][keys[i]]);
                                }
                                
                                new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Количество чеков по '+name,
                                        data: rec,
                                        borderWidth: 0.5
                                    }]
                                    },
                                    options: {
                                    scales: {
                                        x: {
                                                grid: {
                                                    display: false
                                                }
                                                },
                                                y: {
                                                    beginAtZero: true,
                                                grid: {
                                                    display: false
                                                }
                                                }
                                    }
                                    }
                                });
                            </script>

                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4 col-xxl-4">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}