{% extends 'dash_base.html' %}
{% block finact %}active{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Отчет по системе</h1>
    <small class="text-danger text">{{ error }}</small>
    <div class="mb-2 mb-md-0">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group me-2">
          {{form.date1}}
          {{form.date2}}
          <button type="submit" class="btn btm-sm btn-primary radr"><i class="bi bi-arrow-return-left"></i></button>
        </div>
      </form>
    </div>
  </div>

  <div class="row g-3">
    <div class="col-sm-6 col-xxl-3">
      <div class="card">
        <div class="card-header">Транзакций на сумму</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{Fin.total_price}} ₽</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
      <div class="card">
        <div class="card-header">Количество транзакций</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{Fin.how_much_people_used}}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
      <div class="card">
        <div class="card-header">Льготных транзакций на сумму</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{Fin.benefits_price}} ₽</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
      <div class="card">
        <div class="card-header">Количество льготных транзакций</div>
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{Fin.with_benefits}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Сводный отчет</h1>
  </div>

  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Улица</th>
          <th scope="col">Тр-ций на сумму</th>
          <th scope="col">Кол-во транзакций</th>
          <th scope="col">Льготных тр-ций на сумму</th>
          <th scope="col">Кол-во льготных транзакций</th>
        </tr>
      </thead>
      <tbody>
        {% for el in parkings %}
        <tr>
          <td>1</td>
          <td>{{el.address}}</td>
          <td>{{el.total_sum}}</td>
          <td>{{el.how_much_people_used}}<br></td>
          <td>{{el.benefit_sum}}</td>
          <td>{{el.with_benefits}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}