<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Администрирование</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body id="page-top">
    <style>
        .radr {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        .radl {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
    </style>
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-dark p-0" id="hidza">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="fw-bold mx-3"><span>есп</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link {% block actfull %}{% endblock %}" href="dash_full"><span>Наполняемость</span></a></li>
                    <li class="nav-item"><a class="nav-link {% block actcoupon %}{% endblock %}" href="dash_coupon"><span>Льготные места</span></a></li>
                    <li class="nav-item"><a class="nav-link {% block actfin %}{% endblock %}" href="dash_fin"><span>Финансовый отчет</span></a></li>
                    <li class="nav-item"><a class="nav-link {% block actusers %}{% endblock %}" href="dash_users"><span>Пользователи</span></a></li>
                    <li class="nav-item"><a class="nav-link {% block actparks %}{% endblock %}" href="dash_parks"><span>Парковки</span></a></li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>