{% extends 'dash_base.html' %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Наполняемость</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-2 mb-md-0">
        <div class="input-group me-2">
          {{form.pk}}
          {{form.date1}}
          {{form.date2}}
          <button type="submit" class="btn btm-sm btn-primary radr"><i class="bi bi-arrow-return-left"></i></button>
        </div>
      </div>
    </form>
  </div>

  <div class="row g-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{total_time}} минут</h5>
          <p class="card-text">Суммарный период пребывания</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{average_time}} минут</h5>
          <p class="card-text">Средний период пребывания</p>
        </div>
      </div>
    </div>
  </div>
  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

  <script>
    const ctx = document.getElementById('myChart');
    let r = "{{reciepts}}".replace(/&quot;/g, "").replace(/&#x27;/g, "\"");
    console.log(r);
    let reciepts = JSON.parse(r);
    let labels = [], rec = [];
    let name = reciepts["name"];
    let keys = Object.keys(reciepts["period"]);
    for (let i = 0; i < keys.length; i++) {
      labels.push(keys[i]);
      rec.push(reciepts["period"][keys[i]]);
    }

    // eslint-disable-next-line no-unused-vars
    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          data: rec,
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            boxPadding: 3
          }
        }
      }
    })
  </script>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Льготные места</h1>
  </div>

  <div class="row g-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{total_benefit_time}} минут</h5>
          <p class="card-text">Суммарный период пребывания</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{average_benefits}} минут</h5>
          <p class="card-text">Средний период пребывания</p>
        </div>
      </div>
    </div>
  </div>

  <canvas class="my-4 w-100" id="myChartC" width="900" height="380"></canvas>
  <script>
    const ctxC = document.getElementById('myChartC');
    let rC = "{{reciepts_benefit}}".replace(/&quot;/g, "").replace(/&#x27;/g, "\"");
    console.log(r);
    let recieptsC = JSON.parse(rC);
    let labelsC = [], recC = [];
    let nameC = recieptsC["name"];
    let keysC = Object.keys(recieptsC["period"]);
    for (let i = 0; i < keys.length; i++) {
      labelsC.push(keys[i]);
      recC.push(recieptsC["period"][keys[i]]);
    }

    // eslint-disable-next-line no-unused-vars
    const myChartC = new Chart(ctxC, {
      type: 'line',
      data: {
        labels: labelsC,
        datasets: [{
          data: recC,
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#dc3545',
          borderWidth: 4,
          pointBackgroundColor: '#dc3545'
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            boxPadding: 3
          }
        }
      }
    })
  </script>

</main>
{% endblock %}