{% extends 'dash_base.html' %}
{% block actusers %}active{% endblock %}
{% block content %}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid mt-3">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h3 class="text-dark mb-0">Пользователи</h3>
            </div>


            <div class="row">
                <div class="row">
                    <div class="card shadow p-0">
                        <div class="d-sm-flex card-header py-3 justify-content-between align-items-center">
                            <p class="text-primary m-0 fw-bold">Пользователи</p>
                            <div>
                                <a class="btn btn-primary rounded-pill mx-1 my-1" href="{% url 'parkingapp:signadmin' %}" type="button">Новый админ</a>
                                <a class="btn btn-primary rounded-pill mx-1 my-1" href="{% url 'parkingapp:signcoupon' %}" type="button">Новый партнер</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Имя пользователя</th>
                                            <th>Права</th>
                                            <th>Прикреплен к парковке</th>
                                            <th>Действие</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for el in users %}
                                        <tr>
                                            <td>{{ el.username }}</td>
                                            <td>{{ el.rights }}</td>
                                            {% if el.rights == 1 %}
                                            <td>{{ el.park_id }}</td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                            <form method="post">
                                            {%csrf_token%}
                                            <td><button class="btn btn-danger rounded-pill" value="{{el.pk}}" type="submit" name="delete">Удалить</button></td>
                                            </form>
                                        </tr>
                                        {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}