{% extends 'base.html' %}
{% block content %}
<div class="modal modal-sheet position-static d-block">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4">
        <div class="modal-body">
            <div class="px-4 my-3 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis">Парковка завершена</h1>
                <hr>
                <p class="lead my-0">{{ reciept.final_price }} ₽</p>
                <p class="lead my-0">ул. Тарановой 5</p>
                <p class="lead">id чека: {{ reciept.pk }}</p>
                <hr>
                <a class="btn btn-lg btn-primary" href="index">Вернуться назад</a>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}