{% extends 'base.html' %}


{% block content %}
<style>
  .bla {
      width: calc(100vw - 2rem);
  }
</style>
<div class="col-12 mx-auto col-lg-6 mt-0 mt-lg-5 mb-3 bla mt-3">
  <div class="p-4 p-md-5 border bg-white rounded-4 shadow">
    <div class="row mb-3">
      <h5 class="col-4">Парковка завершена</h5>
      <small class="col-8 text-end text-secondary">{{ reciept.0.start_time }}<br>{{ reciept.0.finish_time }}</small>
    </div>
    <hr class="my-4">
    <div class="row mb-3">
      <small class="col-6 text-start">Стоимость</small>
      <small class="col-6 text-end text-secondary">{{ reciept.0.final_price }} ₽</small>
    </div>
    <div class="row mb-3">
      <small class="col-6 text-start">Длительность</small>
      <small class="col-6 text-end text-secondary">{{ reciept.2 }}:{{ reciept.3 }}</small>
    </div>
    <div class="row mb-3">
      <small class="col-6 text-start">Адрес парковки</small>
      <small class="col-6 text-end text-secondary">{{ reciept.1 }}</small>
    </div>
  </div>
</div>
<div class="container-fluid text-center pt-3">
  <a href="{% url 'parkingapp:index' %}">На главную</a>
</div>
{% endblock %}