{% extends 'base.html' %}
{% block content %}
<div class="container col-xxl-8 px-4">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://3.assets.klops.ru/media/W1siZiIsIjIwMjNcLzEyXC8wN1wvZjEyNDFhZjktNGUwYy00NjZiLTk4MWYtMGMzYmQyYTE2YjNhX2ZpbGUuanBlZyJdLFsicCIsInRodW1iIiwiMTIwMHg2NzUrMCs2MyJdLFsicCIsInRodW1iIiwiMTkyMHgxMDgwPiJdLFsicCIsImxvZ28iXSxbInAiLCJlbmNvZGUiLCJqcGciLCItcXVhbGl0eSA4NSAtc3RyaXAgLWludGVybGFjZSBQbGFuZSJdXQ==?sha=e49a455db01090c8" class="d-block mx-lg-auto border rounded-4 img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Единая Система Паркинга</h1>
          <p class="lead">Единая система паркинга в Калининграде предоставляет удобные и безопасные места для стоянки автомобилей в центре города. Мы обеспечиваем доступ к парковочным местам через мобильное приложение, что делает процесс нахождения и оплаты парковки максимально удобным.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{% url 'parkingapp:enter' %}" class="btn btn-primary rounded-4 btn-lg px-4 me-md-2">Вход</a>
            <a href="{% url 'parkingapp:sign' %}" class="btn btn-outline-secondary rounded-4 btn-lg px-4">Регистрация</a>
          </div>

        </div>

      </div>
</div>
{% endblock %}