{% extends 'base.html' %}
{% block active_parking %}active{% endblock %}
{% block content %}
{% if reciepts %}
{% for el in reciepts %}
<div class="modal modal-sheet pb-5 position-static d-block">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow border">
      <div class="modal-body p-5">

        <ul class="d-grid gap-4 my-0 list-unstyled small">
          <li class="d-flex gap-4">
            <div class="bi text-warning flex-shrink-0">
              <img src="https://qrcode.tec-it.com/API/QRCode?data={{ el.pk }}&backcolor=%23ffffff" height="48" width="48"/>
            </div>
            <div class="ps-5 ms-5 text-muted">
              22.05.30 12:25 <br>
              22.05.30 13:30
            </div>
          </li>
          <hr class="ms-4">
          <li class="row">
            <div class="col-6">
              <h5 class="bi flex-shrink-0">Парковка идет</h5>
            </div>
            <div class="col-6">
              <h5 class="mb-0 text-end fw-light">ул. Тарановой 5</h5>
            </div>
          </li>
          <li class="row">
            <div class="col-6">
              <h5 class="bi flex-shrink-0">Стоимость</h5>
            </div>
            <div class="col-6">
              <h5 class="mb-0 text-end fw-light">0 ₽</h5>
            </div>
          </li>
          <li class="row">
            <div class="col-6">
              <h5 class="bi flex-shrink-0">ID парковки</h5>
            </div>
            <div class="col-6">
              <h5 class="mb-0 text-end fw-light">0001</h5>
            </div>
          </li>
          <li class="row">
            <div class="col-6">
              <h5 class="bi flex-shrink-0">ID чека</h5>
            </div>
            <div class="col-6">
              <h5 class="mb-0 text-end fw-light">{{ el.pk }}</h5>
            </div>
          </li>
        </ul>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="end_park" value="{{ el.pk }}" class="btn btn-lg rounded-4 mt-5 btn-primary w-100">Завершить парковку</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% if reciepts %}
{% for el in reciepts %}

{% endfor %}
{% else %}
<div class="container col-xl-10 col-xxl-8 px-4 py-3 py-lg-5">
  <div class="row align-items-center g-lg-5 py-3 py-lg-5">
    <div class="col-lg-6 col-12">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1">Паркуйтесь быстро и просто</h1>
      <p class="lead">Введите цифры с шлагбаума в поле "ID парковки", перед этим войдите в аккаунт или зарегестрируйтесь, привязав карту</p>
    </div>
    <div class="col-12 mx-auto col-lg-6 mt-0 mt-lg-5 mb-3">
      <form class="p-4 p-md-5 border bg-white rounded-4 shadow" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="text" class="form-control rounded-4" id="floatingInput" placeholder="" name="park_id">
          <label for="floatingInput">ID парковки</label>
        </div>
        <button name="create_park" class="w-100 btn btn-lg btn-primary rounded-4" type="submit">Начать парковку</button>
      </form>
    </div>
  </div>
</div>
{% endif %}

<style>
  #myMap {
      width: 100vw; 
      height: 100vw;
      max-width: 100vw;
      max-height: 576px;
    }
</style>
<div id="myMap" class="mx-auto"></div>

<script type="text/javascript">
  let parkings = "{{parkings}}".split(" 99999 ");
  for(let i=0; i<parkings.length; i++){
    parkings[i] = parkings[i].split(" ");
    for(let j=0; j<5; j++){
      parkings[i][j] = Number(parkings[i][j]);
    }
    for(let j=6; j<parkings[i].length; j++){
      parkings[i][5]+=" "+parkings[i][j];
    }
  }

  ymaps.ready(init);
  function init() {
      var myMap = new ymaps.Map ('myMap', {
        center: [54.7065, 20.511],
        zoom: 9
      }, {
        searchControlProvider: 'yandex#search'
      });
      
      for(let i=0; i<parkings.length; i++){
        // lng lat pk lots price
        var myPlacemark = new ymaps.Placemark([parkings[i][0], parkings[i][1]], {  
            balloonContentHeader: '<h5 class="fw-bold">ул. Тарановой 5</h5>',
            // Зададим содержимое основной части балуна.
            balloonContentBody: '<div class="mt-3" style="overflow-x: hidden;"><div class="row"><p class="col-6 mb-1">Мест осталось</p><p class="col-6 mb-1 text-end">23</p></div><div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 10px"><div class="progress-bar" style="width: 25%"></div></div><div class="mt-3 row"><p class="col-6">Цена за час</p><p class="col-6 text-end">50 ₽</p></div></div>',
            // Зададим содержимое нижней части балуна.
            balloonContentFooter: '<small>0001</small>',
            // Зададим содержимое всплывающей подсказки.
            hintContent: 'Рога и копыта'
        }, {
            preset: 'twirl#blueStretchyIcon'
        });
        myMap.geoObjects.add(myPlacemark);
      }
      
  }
</script>

{% endblock %}