{% extends 'base.html' %}
{% block active_parking %}active{% endblock %}
{% block content %}
{% load static %}

<style>
  #myMap {
    width: 100vw;
    height: calc(100vh - 73px);
    max-width: 100vw;
  }

  .suk {
    position: absolute;
    top: calc(73px + 1rem);
    width: calc(100vw - 2rem);
    left: calc(50% - 50vw + 1rem);
    transition: .35s;
  }

  body {
    overflow: hidden;
  }

  .group-second {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .group-first {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    background: white;
  }

  .bla {
    position: absolute;
    bottom: 0;
    width: calc(100vw - 2rem);
    left: calc(50% - 50vw + 1rem);
    transition: .35s;
  }

  #circ {
    border: 0.25rem solid;
  }
</style>
<div>
  <div id="myMap" class="mx-auto"></div>
  {% if reciepts %}

  {% else %}
  <form class="suk" method="post">
    {% csrf_token %}
    <div class="input-group shadow rounded-4">
      <div class="form-floating">
        {{ form.parking_id }}
        <label for="floatingInput">{% if error %}<small class="text-end text-danger">{{ error }}</small> {% else %} ID
          парковки {% endif %}</label>
      </div>
      <button name="create_park" class="btn btn-lg group-second btn-primary" type="submit">Заехать</button>
    </div>
  </form>
  {% endif %}
</div>
{% if bdsm %}
{% for sex in bdsm %}
<div class="col-12 mx-auto col-lg-6 mt-0 mt-lg-5 mb-3 bla">
  <div class="p-4 p-md-5 border bg-white rounded-4 shadow">
    <div class="row text-center mb-3">
      <small class="col-4 text-secondary">Длительность</small>
      <small class="col-4 text-secondary">Стоимость</small>
      <small class="col-4 text-secondary">ID чека</small>
    </div>
    <div class="row text-center mb-4">
      <h5 class="col-4">75 минут</h5>
      <h5 class="col-4">123 ₽</h5>
      <h5 class="col-4">{{ sex.0.pk }}</h5>
    </div>
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="end_park" value="{{ sex.0.pk }}"
        class="w-100 btn btn-lg btn-primary rounded-4">Завершить парковку</button>
    </form>
  </div>
</div>
{% endfor %}
{% endif %}


<script type="text/javascript">
  let isclosed = true
  function pos() {
    if (isclosed) {
      document.getElementsByClassName('suk')[0].style.top = 'calc(193px + 1rem)'
      isclosed = false
    } else {
      document.getElementsByClassName('suk')[0].style.top = 'calc(73px + 1rem)'
      isclosed = true
    }
  }


  let parkings = "{{parkings}}".split(" 99999 ");
  for (let i = 0; i < parkings.length; i++) {
    parkings[i] = parkings[i].split(" ");
    for (let j = 0; j < 6; j++) {
      parkings[i][j] = Number(parkings[i][j]);
    }
    for (let j = 7; j < parkings[i].length; j++) {
      parkings[i][6] += " " + parkings[i][j];
    }
  }
  console.log(parkings)
  ymaps.ready(init);
  function init() {
    var myMap = new ymaps.Map('myMap', {
      center: [54.7065, 20.511],
      zoom: 12,
      controls: [],

    }, {
      searchControlProvider: 'yandex#search',
      yandexMapDisablePoiInteractivity: true,
    });

    MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
      '<button disabled id="circ" class="text-center rounded-pill p-2 text-dark fw-bolder bg-$[properties.border]-subtle border-$[properties.border]">$[properties.iconContent]</button>'
    )

    for (let i = 0; i < parkings.length; i++) {
      let proc = parseInt(parkings[i][3] / parkings[i][5] * 100);
      if (proc > 70) {
        var blar = 'success'
      } else if (proc > 40) {
        var blar = 'warning'
      } else {
        var blar = 'danger'
      }

      var myPlacemark = new ymaps.Placemark([parkings[i][0], parkings[i][1]], {
        iconContent: String(parkings[i][4]),
        border: String(blar),
        balloonContentHeader: '<div><h5 class="fw-bolder">' + String(parkings[i][6]) + '</h5><small class="text-secondary">' + String(parkings[i][4]) + ' в час </small></div>',
        // Зададим содержимое основной части балуна.
        balloonContentBody: '<div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="' + String(100 - proc) + '" aria-valuemin="0" aria-valuemax="100"><div class="progress-bar" style="width: ' + String(100 - proc) + '%">' + String(100 - proc) + '%</div></div>',
        hintContent: String(parkings[i][6])
      }, {
        iconLayout: 'default#imageWithContent',
        iconImageHref: '',
        iconImageSize: [50, 50],
        iconImageOffset: [0, 0],
        iconContentOffset: [0, 0],
        iconContentLayout: MyIconContentLayout
      });
      myMap.geoObjects.add(myPlacemark);
    }
  }
</script>

{% endblock %}