{% extends 'base.html' %}
{% block active_parking %}active{% endblock %}
{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-6 col-12">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Паркуйтесь быстро и просто</h1>
        <p class="lead">Введите цифры с шлагбаума в поле "ID парковки", перед этим войдите в аккаунт или зарегестрируйтесь, привязав карту</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="enter" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Войти</a>
          <a href="sign" type="button" class="btn btn-outline-secondary btn-lg px-4">Зарегестрироваться</a>
        </div>
      </div>
      <div class="col-12 mx-auto col-lg-6 my-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="" name="park_id">
            <label for="floatingInput">ID парковки</label>
          </div>
          <button name="create_park" class="w-100 btn btn-lg btn-primary" type="submit">Начать парковку</button>
        </form>
      </div>
    </div>
</div>
{% if reciepts %}
{% for el in reciepts %}
<div class="modal modal-sheet position-static d-block p-4">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4">
        <div class="modal-body">
            <div class="px-4 my-5 text-center">
                <h1 class="display-4 fw-bold text-body-emphasis">Парковка идет<br><span></span></h1>
                <div class="mx-auto">
                    <div class="mt-5 mb-3">
                        <img src="https://qrcode.tec-it.com/API/QRCode?data={{ el.pk }}&backcolor=%23ffffff" height="250" width="250"/>
                    </div>
                    <p class="lead my-0">id парковки: {{ el.parking_id.id }}</p>
                    <p class="lead">id чека: {{ el.pk }}</p>
                </div>
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" name="end_park" value="{{ el.pk }}" class="btn btn-lg btn-primary w-100">Завершить парковку</button>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endif %}
<div id="myMap" style="width: 700px; height: 700px;"></div>
<script type="text/javascript">
  let parkings = "{{parkings}}".split(" 99999 ");
  for(let i=0; i<parkings.length; i++){
    parkings[i] = parkings[i].split(" ");
    for(let j=0; j<parkings[i].length; j++){
      parkings[i][j] = Number(parkings[i][j]);
    }
  }

  ymaps.ready(init);
  function init() {
      var myMap = new ymaps.Map ('myMap', {
          center: [54.7065, 20.511],
          zoom: 9
      });
      myMap.controls.add('mapTools', {left:5, bottom:35}).add('typeSelector', {left:5, top:5}).add('zoomControl', {right:5, top:15});  
    for(let i=0; i<parkings.length; i++){
      // lng lat pk lots price
      var myPlacemark = new ymaps.Placemark([parkings[i][0], parkings[i][1]], { 
          iconContent: 'Стоянка номер '+parkings[i][2], 
          balloonContent: 'Стоянка номер '+parkings[i][2]+' | Свободных мест: '+parkings[i][3]+'Цена: '+parkings[i][4]
      }, {
          preset: 'twirl#blueStretchyIcon'
      });
      myMap.geoObjects.add(myPlacemark);
    }
  }
</script>
<!--
<div id="map" style="width:500px; height:400px; border-radius: 2rem;" class="shadow mx-auto"></div>
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">

    var map;
    DG.then(function () {
      map = DG.map('map', {
          center: [54.7065, 20.511],
          zoom: 9
      });
      let parking = "{{ parkings }}".replace("[", "").replace("]", "").replace(",", "").split(" ");
      for(let i=0; i<parking.length; i++){
        parking[i] = parking[i].replace(",", "")
      }
      var myIcon;
      myIcon = DG.icon({
        iconUrl: 'https://maps.api.2gis.ru/2.0/example_logo.png',
        iconSize: [48, 48]
      })
      map.locate({setView: true, watch: true})
                    .on('locationfound', function(e) {
                        DG.marker([e.latitude, e.longitude], {icon:myIcon}).addTo(map).bindPopup("Ваше местоположение");
                      }).on('locationerror', function(e) {
                        DG.popup()
                          .setLatLng(map.getCenter())
                          .setContent('Доступ к определению местоположения отключён')
                          .openOn(map);
                          });



      let x=0, y=0, id=0, places=0, price=0;
      for(let i=0; i<parking.length; i++){
        if(i%6==0) x=Number(parking[i]);
        else if(i%6==1) y=Number(parking[i]);
        else if(i%6==2) id=Number(parking[i]);
        else if(i%6==3) places=Number(parking[i]);
        else if(i%6==4) price=Number(parking[i]);
        else if(i%6==5){
          console.log(x, y, id, places, price)
          //console.log(x, y, id);
          DG.marker([x, y]).addTo(map).bindPopup("ID парковки: "+id+" | Свободные места: "+places+" | Цена: "+price);
        }
      }
      console.log(parking)
      //for(let i=0; i<)
      //DG.marker([x, y]).addTo(map).bindPopup("{{el.address}}, {{el.pk}}");
    });
</script>
-->


{% endblock %}