{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto">
  <h1 class="display-5 lh-1 fw-bold text-body-emphasis mb-3">Панель администратора</h1>
  <hr>
  <form method="post" class="col-6" style="max-width: 512px;">
    {% csrf_token %}
    <div class="input-group mb-3">
      <input type="date" class="form-control" value="{{ start }}" name="period_start">
    <input type="date" class="form-control" value="{{ end }}" name="period_end">
    <button type="submit" class="btn btn-primary">Получить данные</button>
    </div>
  </form>
</div>


<div class="container mx-auto row">
  <div class="col-12  p-4 shadow rounded-4 mb-4" style="overflow: scroll; background-color: #cfe2ff;">
    <h1 class="display-7 lh-1 col-6 mb-3">Наполняемость</h1>
    <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Парковка</th>
            <th scope="col">Кол-во ТС за период</th>
            <th scope="col">Кол-во ТС за бесплатный период</th>
            <th scope="col">Суммарный период пребывания ТС на парковке, мин.</th>
            <th scope="col">Средняя продолжительность парковочной сессии, мин.</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for park in parkings %}
          <tr>
            <th scope="row">{{ park.address }}</th>
            <td>{{ park.how_much_people_used }}</td>
            <td>{{ park.people_used_free_time }}</td>
            <td>{{ park.total_time }}</td>
            <td>{{ park.session_avarage_duration }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="col-12 mx-auto p-4 shadow rounded-4 mb-4" style="overflow: hidden; background-color: #f8d7da;">
    <h1 class="display-7 lh-1 col-6 text-body-emphasis mb-3">Льготные места</h1>
    <table class="table table-danger">
        <thead>
          <tr>
            <th scope="col">Парковка</th>
            <th scope="col">Количество льготников</th>
            <th scope="col">Среднее время парковки льготников, мин.</th>
            <th scope="col">Максимальное время парковки льготников</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for park in parkings %}
          <tr>
            <th scope="row">{{ park.address }}</th>
            <td>{{ park.with_benefits }}</td>
            <td>{{ park.benefits_session_avarage_duration }}</td>
            <td>{{ park.max_benefit_session }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="col-12 p-4 shadow rounded-4 mb-4" style="overflow: hidden; background-color: #fff3cd;">
    <h1 class="display-7 lh-1 text-body-emphasis mb-3">Финансовый отчет</h1>
    <table class="table table-warning">
        <thead>
          <tr>
            <th scope="col">Парковка</th>
            <th scope="col">Транзакций на сумму</th>
            <th scope="col">Количество транзакций</th>
            <th scope="col">Количество льготных транзакций</th>
            <th scope="col">Льготных транзацкий на сумму</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for el in fins %}
          <tr>
            <th scope="row">{{ el.address }}</th>
            <td>{{ el.total_price }}</td>
            <td>{{ el.how_much_people_used }}</td>
            <td>{{ el.with_benefits }}</td>
            <td>{{ el.benefits_price }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  <div id="map" style="width:500px; height:400px"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script>
{% endblock %}
