{% extends 'base.html' %}
{% block active_profile %}active{% endblock %}
{% block content %}
{% load static %}
<div class="container p-5 text-center">
  <p>
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
      role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="var(--bs-primary)"></rect>
    </svg>
  </p>
  <h1>{{ user.username }}</h1>
  <p>{{ user.phone_number }}</p>
  <dl class="row g-3 text-start">
    <div class="bg-white rounded-4 shadow p-3">
      <dt class="col-sm-9 m-0">{{ user.username }}</dt>
    </div>
    <div class="bg-white rounded-4 shadow p-3">
      <dt class="col-sm-9 m-0">{{ user.phone_number }}</dt>
    </div>
    <div class="bg-white rounded-4 shadow p-3">
      <dt class="col-sm-9 m-0">{{ user.car_num }}</dt>
    </div>
    <div class="bg-white rounded-4 shadow p-3">
      <dt class="col-sm-9 m-0">{{ user.card_num }}</dt>
    </div>
    <hr class="my-4">
    <dt class="m-0">Последние парковки</dt>
    <dd class="row g-3">
      {% for sex in bdsm %}
      <div class="mx-auto">
        <div class="p-5 border bg-white rounded-4 shadow">
          <div class="row mb-3">
            <h5 class="col-4">{{ sex.0.pk }}</h5>
            <small class="col-8 text-end text-secondary">{{ sex.0.start_time }}<br>{{ sex.0.finish_time }}</small>
          </div>
          <hr class="my-4">
          <div class="row mb-3">
            <small class="col-6 text-start">Стоимость</small>
            <small class="col-6 text-end text-secondary">{{ sex.0.final_price }} ₽</small>
          </div>
          <div class="row mb-3">
            <small class="col-6 text-start">Адрес</small>
            <small class="col-6 text-end text-secondary">{{ sex.1 }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </dd>

  </dl>
</div>

{% endblock %}