{% extends 'base_sign.html' %}
{% block active_sign %}
active
{% endblock %}
{% block content %}
{% load static %}
<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow border">
      <div class="modal-header mx-auto p-1 px-sm-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2"><a href="" class="text-primary me-2"><i class="bi bi-geo-alt-fill"></i></a>Регистрация</h1>
      </div>

      <div class="modal-body p-1 px-sm-5 pt-0 rounded-4">
        <form method="post">
          {% csrf_token %}
          <div class="form-floating mb-3">
            {{ form.username }}
            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
          </div>
          <div class="form-floating mb-3">
            {{ form.phone_number }}
            <label for="{{ form.card_num_id_for_label }}">Номер телефона</label>
          </div>

          <div class="form-floating mb-3">
            {{ form.car_num }}
            <label for="{{ form.card_num_id_for_label }}">Автомобильный номер</label>
          </div>
          <div class="form-floating mb-3">
            {{ form.card_num }}
            <label for="{{ form.card_num_id_for_label }}">Данные карты</label>
          </div>
          <small class="text-body-secondary">Введите 4 последние цифры номера банковской карты</small>
          <hr class="my-4">
          <div class="form-floating mb-3">
            {{ form.password }}
            <label for="{{ form.password.id_for_label }}">Пароль</label>
          </div>
          <div class="form-floating mb-3">
            {{ form.password2 }}
            <label for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
          </div>

          <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Зарегистрироваться</button>
          <small class="text-danger">{{ error }}</small>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .modal-content {
    border: none !important;
    background: #f8f9fa;
    box-shadow: none !important;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    const inputElement = document.getElementById('tel')
    const maskOptions = {
      mask: '+{7}(000)000-00-00'
    }
    IMask(inputElement, maskOptions)

  })
</script>
{% endblock %}