{% extends 'dash_base.html' %}
{% block signact %}active{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <form method="post">
    {% csrf_token %}
    <div class="col-md-7 col-lg-8 mt-3">
      <div class="row">
        <h4 class="mb-3 col-6">Новый пользователь</h4>
        <small class="text-end text-danger col-6">{{ error }}</small>
      </div>
      <div class="row g-3">
        <div class="col-12">
          <label for="username" class="form-label">Имя пользователя</label>
          {{ form.username }}
        </div>

        <div class="col-sm-6">
          <label for="firstName" class="form-label">Пароль</label>
          {{ form.password }}
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Подтвердите пароль</label>
          {{ form.password2 }}
        </div>
      </div>

      <hr class="my-4">

      <div class="form-check my-3">
        {{ form.user_control }}
        <label class="form-check-label" for="flexCheckChecked">
          Управление пользователями
        </label>
      </div>
      <div class="form-check my-3">
        {{ form.parking_control }}
        <label class="form-check-label" for="flexCheckChecked">
          Управление парковками
        </label>
      </div>
      <div class="form-check my-3">
        {{ form.barrier_control }}
        <label class="form-check-label" for="flexCheckChecked">
          Управление шлагбаумами
        </label>
      </div>
      <div class="form-check my-3">
        {{ form.coupon_control }}
        <label class="form-check-label" for="flexCheckChecked">
          Обнуление чеков
        </label>
      </div>
      <div class="form-check my-3">
        {{ form.admin_view }}
        <label class="form-check-label" for="flexCheckChecked">
          Просмотр панели администратора
        </label>
      </div>
      <div class="form-check my-3 mb-4">
        {{ form.parking_lot_view }}
        <label class="form-check-label" for="flexCheckChecked">
          Парковка
        </label>
      </div>
      <hr class="my-4 mb-2">

      <div id="temp" hidden>
        <div class="col-12">
          <label for="username" class="form-label">Парковка для выдачи льгот</label>
          {{ form.park_id }}
        </div>
      </div>
      <button class="w-100 mt-4  btn btn-lg rounded-4 btn-primary" onclick="help()"
        type="submit">Зарегестрировать</button>
    </div>
  </form>
</main>
<script>
  var hid = true
  var tem = document.getElementById('temp')
  function temp() {
    if (hid) {
      tem.removeAttribute('hidden')
      hid = false
    } else {
      tem.setAttribute('hidden', 'true')
      hid = true
    }
  }

  function check() {
    var users = document.getElementById('user_control').checked
    var parks = document.getElementById('parking_control').checked
    var admin = document.getElementById('admin_view').checked
    if ((users || parks) & !(admin)) {
      document.getElementById('admin_view').click()
      document.getElementById('admin_view').setAttribute('disabled', 'true')
    } else if (users || parks) {
      document.getElementById('admin_view').setAttribute('disabled', 'true')
    } else {
      document.getElementById('admin_view').removeAttribute('disabled')
    }
  }
  function help() {
    document.getElementById('admin_view').removeAttribute('disabled')
  }
</script>
{% endblock %}