{% extends 'dash_base.html' %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow border">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Новый пользователь</h1>
        </div>

        <div class="modal-body p-5 pt-0">
          <form method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
              {{ form.username }}
              <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
            </div>
            <div class="form-floating mb-3">
              {{ form.password1 }}
              <label for="{{ form.password1.id_for_label }}">Пароль</label>
            </div>
            <div class="form-floating mb-4">
              {{ form.password2 }}
              <label for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
            </div>
            {{ error }}
            <hr class="m-0 mb-2">
            <small class="text-secondary">Установите права для пользователя</small>
            <div class="form-check my-3">
              {{ form.user_control }}
              <label class="form-check-label" for="flexCheckChecked">
                Управление пользователями
              </label>
            </div>
            <div class="form-check my-3">
              {{ form.parking_control }}
              <label class="form-check-label" for="flexCheckChecked">
                Управление парковками
              </label>
            </div>
            <div class="form-check my-3">
              {{ form.barrier_control }}
              <label class="form-check-label" for="flexCheckChecked">
                Управление шлагбаумами
              </label>
            </div>
            <div class="form-check my-3">
              {{ form.coupon_control }}
              <label class="form-check-label" for="flexCheckChecked">
                Обнуление чеков
              </label>
            </div>
            <div class="form-check my-3 mb-4">
              {{ form.admin_view }}
              <label class="form-check-label" for="flexCheckChecked">
                Просмотр панели администратора
              </label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" onclick="help()"
              type="submit">Зарегистрироваться</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  function check() {
    var users = document.getElementById('user_control').checked
    var parks = document.getElementById('parking_control').checked
    var admin = document.getElementById('admin_view').checked
    if ((users || parks) & !(admin)) {
      document.getElementById('admin_view').click()
      document.getElementById('admin_view').setAttribute('disabled', 'true')
    } else if (users || parks) {
      document.getElementById('admin_view').setAttribute('disabled', 'true')
    } else {
      document.getElementById('admin_view').removeAttribute('disabled')
    }
  }
  function help() {
    document.getElementById('admin_view').removeAttribute('disabled')
  }
</script>
{% endblock %}