{% extends 'dash_base.html' %}
{% block signact %}active{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <form method="post">
    {% csrf_token %}
    <div class="col-md-7 col-lg-8 mt-3">
      <div class="row">
        <h4 class="mb-3 col-6">Новый пользователь</h4>
        <small class="text-end text-danger col-6">{{ error }}</small>
      </div>
      <div class="row g-3">
        <div class="col-12">
          <label for="username" class="form-label">Имя пользователя</label>
          {{ form.username }}
        </div>

        <div class="col-sm-6">
          <label for="firstName" class="form-label">Пароль</label>
          {{ form.password }}
        </div>
        <div class="col-sm-6">
          <label for="firstName" class="form-label">Пароль ещё раз</label>
          {{ form.password2 }}
        </div>
      </div>

      <hr class="my-4">

      <div class="form-check my-3">
        {{ form.is_superadmin }}
        <label class="form-check-label" for="flexCheckChecked">
          Супер администратор
        </label>
      </div>
      <div class="form-check my-3">
        {{ form.parking_control }}
        <label class="form-check-label" for="flexCheckChecked">
          Управление парковками
        </label>
      </div>
      <div class="form-check my-3">
        {{ form.barrier_control }}
        <label class="form-check-label" for="flexCheckChecked">
          Управление шлагбаумами
        </label>
      </div>
      <div class="form-check my-3">
        {{ form.coupon_control }}
        <label class="form-check-label" for="flexCheckChecked">
          Обнуление чеков
        </label>
      </div>
      <div class="form-check my-3">
        {{ form.export_right }}
        <label class="form-check-label" for="flexCheckChecked">
          Права просмотра и экспорта базы данных
        </label>
      </div>
      <div class="form-check my-3 mb-4">
        {{ form.parking_lot_view }}
        <label class="form-check-label" for="flexCheckChecked">
          Парковка
        </label>
      </div>
      <hr class="my-4 mb-2">

      <div id="temp" hidden>
        <div class="col-12">
          <label for="username" class="form-label">Парковка для выдачи льгот</label>
          {{ form.park_id }}
        </div>
      </div>
      <button class="w-100 mt-4  btn btn-lg rounded-4 btn-primary" onclick="help()"
        type="submit">Зарегестрировать</button>
    </div>
  </form>
</main>
<script>
  var hid = true
  var tem = document.getElementById('temp')
  function temp() {
    if (hid) {
      tem.removeAttribute('hidden')
      hid = false
    } else {
      tem.setAttribute('hidden', 'true')
      hid = true
    }
  }

  function check() {
    var superadmin = document.getElementById('is_superadmin')
    var parking_lot = document.getElementById('parking_lot')
    var coupon_control = document.getElementById('coupon_control')
    var export_right = document.getElementById('export_right')
    var parking_control = document.getElementById('parking_control')
    var barrier_control = document.getElementById('barrier_control')

    if (superadmin.checked) {
      parking_lot.checked = true
      coupon_control.checked = true
      export_right.checked = true
      parking_control.checked = true
      barrier_control.checked = true

      coupon_control.setAttribute('disabled', 'true')
      export_right.setAttribute('disabled', 'true')
      parking_control.setAttribute('disabled', 'true')
      barrier_control.setAttribute('disabled', 'true')

    } else {
      parking_lot.checked = false
      coupon_control.checked = false
      export_right.checked = false
      parking_control.checked = false
      barrier_control.checked = false

      coupon_control.removeAttribute('disabled')
      export_right.removeAttribute('disabled')
      parking_control.removeAttribute('disabled')
      barrier_control.removeAttribute('disabled')
    }
  }
  function help() {
    coupon_control.removeAttribute('disabled')
    export_right.removeAttribute('disabled')
    parking_control.removeAttribute('disabled')
    barrier_control.removeAttribute('disabled')
    parking_lot.removeAttribute('disabled')
  }
</script>
{% endblock %}